@model MvcKutuphane.Models.Entity.TBLKITAP
@{
    ViewBag.Title = "KitapEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<form class=" form-group" method="post">
    <div></div>




    <div style="margin-top:15px">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                Yeni Kategori / Yazar Ekle
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="/Kategori/KategoriEkle">Yeni Kategori Ekle</a></li>
                <li><a href="/Yazar/YazarEkle/">Yeni Yazar Ekle</a></li>

            </ul>
        </div>
    </div>
    <div style="margin-top:15px">
        <label>Kitap Adı</label>
        @Html.TextBoxFor(k => k.AD, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Kitap Kategori</label>
        @Html.DropDownListFor(k => k.TBLKATEGORI.ID, (List<System.Web.Mvc.SelectListItem>)ViewBag.dgr1, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <label>Kitap Yazar</label>
        @Html.DropDownListFor(k => k.TBLYAZAR.ID, (List<System.Web.Mvc.SelectListItem>)ViewBag.dgr2, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <div class="col-sm">
            <label>Basım Yılı</label>
            @Html.TextBoxFor(k => k.BASIMYIL, new { @class = "form-control" })

        </div>
    </div>
    <div style="margin-top:15px">
        <label>Yayınevi</label>
        @Html.TextBoxFor(k => k.YAYINEVI, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px">
        <label>Sayfa Sayısı</label>
        @Html.TextBoxFor(k => k.SAYFA, new { @class = "form-control" })
    </div>

    <div style="margin-top:15px">
        <button class="btn btn-info">Kitap Ekle</button>
    </div>

    @*<input type="hidden" name="Durum" value="True" />*@



</form>
